<div class="backlogin">

    <form method="POST">

        <h1>LOG IN</h1>

        <label for="">USUARIO</label>

        <input [(ngModel)]="user.usuario" type="text" name="username" autocomplete="off" autofocus required>

        <label for="">CONTRASEÑA</label>

        <input [(ngModel)]="user.pass" type="password" name="password" autocomplete="off" required>

        <div align="center">

          <input class="btningresar" (click)="logIn()" type="submit" value="INGRESAR">

        </div>

    </form>

</div>

<a routerLink="/" routerLinkActive="active" class="homered"><i class="fa fa-home" aria-hidden="true"></i></a>

